*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

.temp{
    background: linear-gradient(60deg, rgb(102, 89, 224) 0%, rgb(207, 216, 43) 100%, rgb(213, 84, 41) 100%);
    padding: 20px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tccon{
    margin: 5px;
    padding: 50px;
    text-align: center;
    background: linear-gradient(60deg, rgb(15, 196, 84) 0%, rgb(214, 206, 211) 100%, rgb(76, 175, 170) 100%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    box-shadow: 0 0 4px 10px rgba(0, 0, 0, 0.3);
    /* transform: translate(50%,50%); */
   
}

#title{
    align-items: center;
}

.tfo{
    text-align: center;
}

#btn{
    padding: 10px;
    color: rgb(73, 213, 63);
    background-color: #a91bae;
    border-radius: 10px;
    font-size: medium;
}

#ip,#op{
    text-align: justify;
}

#inp,#out{
    border-radius: 1px;
    margin: 0px 5px;
    padding: 10px;
    font-size: medium;
}

#from,#to{
    font-size: x-large;
    width: 100px;
    height: 100px;
}


.backlink{
    padding:bottom;
    font-size: medium;
    background:  linear-gradient(60deg, rgb(112, 44, 196) 0%, rgb(21, 129, 34) 100%, rgb(192, 152, 20) 100%);
    text-align: center;
    font-size: x-large;
}
